<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath=".\venv\Scripts\uvicorn.exe"
                  arguments="main:app --port %HTTP_PLATFORM_PORT% --host 127.0.0.1 --workers 1"
                  startupTimeLimit="60"
                  startupRetryCount="3"
                  requestTimeout="00:04:00"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="."/>
        <environmentVariable name="PYTHONUNBUFFERED" value="1"/>
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
